.page  .topNavBar{
    display: none;
}
.page{
    padding: 20px;
}

.userCard,.skillCard li{
    box-shadow: none;
}

.skillCard .remove,
.skillCard .add-wrapper{
    display: none;
}


/**/
.userCard ,.skillCard{
    width: 650px;
}
.userCard{
    margin-top: 20px;
}